In [1]:
import pandas as pd
import scipy.stats as stats
import numpy as np

In [2]:
citi_2018_path = "data/2018/2018_comb.csv"

citi_2018_full = pd.read_csv(citi_2018_path)
citi_2018_full.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [3]:
start_station_ct = len(citi_2018_full['start station id'].unique())
start_station_ct

819

In [4]:
end_station_ct = len(citi_2018_full['end station id'].unique())
end_station_ct

851

In [5]:
station_info = citi_2018_full.iloc[:,[3,4,5,6,7,8,9,10]]
station_info.head()

,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude
0,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484
1,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685
2,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116
3,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162
4,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706

In [6]:
unique_stations = station_info.drop_duplicates(subset="end station id", keep='first', inplace=False)
unique_stations

,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude
0,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484
1,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685
2,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116
3,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162
4,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706
...,...,...,...,...,...,...,...,...
16180312,448.0,W 37 St & 10 Ave,40.756604,-73.997901,3279.0,Dixon Mills,40.721630,-74.049968
16704227,285.0,Broadway & E 14 St,40.734546,-73.990741,3718.0,E 11 St & Avenue B,40.727464,-73.979504
16813724,420.0,Clermont Ave & Lafayette Ave,40.687645,-73.969689,3719.0,S Portland Ave & Atlantic Ave,40.683223,-73.973812
17039630,3573.0,35 St & 34 Ave,40.758058,-73.924275,3721.0,31 St & Newtown Ave,40.767549,-73.920933
17049123,3411.0,Bond St & Bergen St,40.684967,-73.986208,3720.0,Wyckoff St & Bond St,40.684617,-73.987213

In [7]:
unique_stations.to_csv("data/2018/unique_stations.csv", index=False)