In [2]:
import pandas as pd

In [3]:
stations_2018 = pd.read_csv("data/2018/2018_unique_stations.csv")
stations_2019 = pd.read_csv("data/2019/2019_unique_stations.csv")
stations_2020 = pd.read_csv("data/2020/2020_unique_stations.csv")

In [4]:
station_list = pd.concat([stations_2018, stations_2019, stations_2020])
station_list

,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude
0,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484
1,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685
2,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116
3,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162
4,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706
...,...,...,...,...,...,...,...,...
1244,4203.0,Westchester Ave & Southern Blvd,40.824956,-73.891677,4184.0,Southern Blvd & E 174 St,40.836733,-73.887931
1245,3572.0,34 Ave & 38 St,40.756913,-73.921631,4306.0,35 St & 23 Ave,40.773015,-73.911190
1246,3518.0,Lenox Ave & W 126 St,40.808442,-73.945209,4328.0,W 167 St & St. Nicholas Ave,40.840124,-73.939490
1247,3605.0,31 Ave & Crescent St,40.765835,-73.926547,4310.0,24 St & 38 Ave,40.756351,-73.936515
1248,4128.0,College Ave & E 170 St,40.837576,-73.910489,4332.0,Morris Ave & E 163 St,40.827230,-73.917656

In [5]:
start_station_ct = len(station_list['start station id'].unique())
start_station_ct

884

In [6]:
end_station_ct = len(station_list['end station id'].unique())
end_station_ct

1353

In [7]:
end_stations = station_list.iloc[:,[4,5,6,7]]
end_stations

,end station id,end station name,end station latitude,end station longitude
0,505.0,6 Ave & W 33 St,40.749013,-73.988484
1,3255.0,8 Ave & W 31 St,40.750585,-73.994685
2,525.0,W 34 St & 11 Ave,40.755942,-74.002116
3,447.0,8 Ave & W 52 St,40.763707,-73.985162
4,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706
...,...,...,...,...
1244,4184.0,Southern Blvd & E 174 St,40.836733,-73.887931
1245,4306.0,35 St & 23 Ave,40.773015,-73.911190
1246,4328.0,W 167 St & St. Nicholas Ave,40.840124,-73.939490
1247,4310.0,24 St & 38 Ave,40.756351,-73.936515
1248,4332.0,Morris Ave & E 163 St,40.827230,-73.917656

In [8]:
unique_stations = end_stations.drop_duplicates(keep='first', inplace=False)
unique_stations

,end station id,end station name,end station latitude,end station longitude
0,505.0,6 Ave & W 33 St,40.749013,-73.988484
1,3255.0,8 Ave & W 31 St,40.750585,-73.994685
2,525.0,W 34 St & 11 Ave,40.755942,-74.002116
3,447.0,8 Ave & W 52 St,40.763707,-73.985162
4,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706
...,...,...,...,...
1244,4184.0,Southern Blvd & E 174 St,40.836733,-73.887931
1245,4306.0,35 St & 23 Ave,40.773015,-73.911190
1246,4328.0,W 167 St & St. Nicholas Ave,40.840124,-73.939490
1247,4310.0,24 St & 38 Ave,40.756351,-73.936515
1248,4332.0,Morris Ave & E 163 St,40.827230,-73.917656

In [9]:
unique_stations.columns = ['station id', 'station name', 'lat', 'long']
unique_stations

      station id                 station name        lat       long
0          505.0              6 Ave & W 33 St  40.749013 -73.988484
1         3255.0              8 Ave & W 31 St  40.750585 -73.994685
2          525.0             W 34 St & 11 Ave  40.755942 -74.002116
3          447.0              8 Ave & W 52 St  40.763707 -73.985162
4         3356.0      Amsterdam Ave & W 66 St  40.774667 -73.984706
...          ...                          ...        ...        ...
1244      4184.0     Southern Blvd & E 174 St  40.836733 -73.887931
1245      4306.0               35 St & 23 Ave  40.773015 -73.911190
1246      4328.0  W 167 St & St. Nicholas Ave  40.840124 -73.939490
1247      4310.0               24 St & 38 Ave  40.756351 -73.936515
1248      4332.0        Morris Ave & E 163 St  40.827230 -73.917656

[1374 rows x 4 columns]

In [10]:
unique_stations = unique_stations.sort_values(by=['station id'], ascending=True)
unique_stations

      station id                   station name        lat       long
43          72.0               W 52 St & 11 Ave  40.767272 -73.993929
238         79.0       Franklin St & W Broadway  40.719116 -74.006667
280         82.0         St James Pl & Pearl St  40.711174 -74.000165
389         83.0  Atlantic Ave & Fort Greene Pl  40.683826 -73.976323
832        116.0                W 17 St & 8 Ave  40.741776 -74.001497
...          ...                            ...        ...        ...
1240      4311.0            8 St & Astoria Blvd  40.772600 -73.932663
1246      4328.0    W 167 St & St. Nicholas Ave  40.840124 -73.939490
1248      4332.0          Morris Ave & E 163 St  40.827230 -73.917656
831          NaN                            NaN  40.857000 -73.890000
765          NaN                            NaN  40.857000 -73.881000

[1374 rows x 4 columns]

In [11]:
unique_stations = unique_stations[unique_stations['station id'].notna()]
unique_stations

      station id                   station name        lat       long
43          72.0               W 52 St & 11 Ave  40.767272 -73.993929
238         79.0       Franklin St & W Broadway  40.719116 -74.006667
280         82.0         St James Pl & Pearl St  40.711174 -74.000165
389         83.0  Atlantic Ave & Fort Greene Pl  40.683826 -73.976323
832        116.0                W 17 St & 8 Ave  40.741776 -74.001497
...          ...                            ...        ...        ...
1242      4309.0                 18 St & 27 Ave  40.772768 -73.927436
1247      4310.0                 24 St & 38 Ave  40.756351 -73.936515
1240      4311.0            8 St & Astoria Blvd  40.772600 -73.932663
1246      4328.0    W 167 St & St. Nicholas Ave  40.840124 -73.939490
1248      4332.0          Morris Ave & E 163 St  40.827230 -73.917656

[1372 rows x 4 columns]

In [13]:
clean_stations = unique_stations.loc[(unique_stations['station id']!=3650.0)&(unique_stations['station id']!=3488.0)]
clean_stations

# problem_stations = unique_stations.loc[unique_stations['station id']==3650.0]
# problem_stations

      station id                   station name        lat       long
43          72.0               W 52 St & 11 Ave  40.767272 -73.993929
238         79.0       Franklin St & W Broadway  40.719116 -74.006667
280         82.0         St James Pl & Pearl St  40.711174 -74.000165
389         83.0  Atlantic Ave & Fort Greene Pl  40.683826 -73.976323
832        116.0                W 17 St & 8 Ave  40.741776 -74.001497
...          ...                            ...        ...        ...
1242      4309.0                 18 St & 27 Ave  40.772768 -73.927436
1247      4310.0                 24 St & 38 Ave  40.756351 -73.936515
1240      4311.0            8 St & Astoria Blvd  40.772600 -73.932663
1246      4328.0    W 167 St & St. Nicholas Ave  40.840124 -73.939490
1248      4332.0          Morris Ave & E 163 St  40.827230 -73.917656

[1370 rows x 4 columns]

In [14]:
clean_stations.to_csv("data/station_list_18_20.csv", index=False)