In [1]:
import pandas as pd

In [2]:
citi_2020_full = pd.read_csv("extracted_data/2020/2020_comb.csv")
citi_2020_full.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1

In [3]:
citi_2020_rides = citi_2020_full.iloc[:, [0,1,2,3,7,11,12,13,14]]
citi_2020_rides

,tripduration,starttime,stoptime,start station id,end station id,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,307,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,3300,17105,Customer,1969,1
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,259,40177,Subscriber,1963,1
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,490,27690,Subscriber,1980,1
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,3637,32583,Subscriber,1982,1
...,...,...,...,...,...,...,...,...,...
19506852,2045,2020-12-31 23:58:21.7040,2021-01-01 00:32:27.1570,526,3614,36467,Subscriber,1994,1
19506853,288,2020-12-31 23:58:37.8400,2021-01-01 00:03:26.3250,3307,3383,47749,Subscriber,1969,0
19506854,152,2020-12-31 23:58:52.8090,2021-01-01 00:01:25.6720,3510,3518,48691,Customer,1969,0
19506855,654,2020-12-31 23:59:55.9550,2021-01-01 00:10:50.6050,4073,500,49564,Subscriber,1994,1
19506856,2589,2020-12-31 23:59:57.4070,2021-01-01 00:43:06.4490,3581,3581,47364,Customer,1969,0

In [5]:
citi_2020_rides.dtypes

tripduration         int64
starttime           object
stoptime            object
start station id     int64
end station id       int64
bikeid               int64
usertype            object
birth year           int64
gender               int64
dtype: object

In [8]:
citi_2020_rides.to_csv('data/rides_2020.csv', index=False)